@charset "utf-8";
/* 绛旈鍣�by zdh 2015.06.12 */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Microsoft YaHei;
    background: #efefef;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 0;
}

.clearfix {
    display: block;
    overflow: auto;
    clear: both;
    height: 0;
}


.renshu {
    position: fixed;
    top: 0;
    right: 0px;
    width: 124px;
    height: 118px;
    line-height: 120px;
    background: url(../image/topNum.png) no-repeat;;
    color: #fff;
    text-align: center;
    font-size: 18px;
}

.renshu span {
    margin: 0 3px;
    color: #efefef;
}

.renshu big {
    font-size: 27px;
    font-weight: bold;
}

.renshu small {
    font-size: 18px;
    font-weight: bold;
}

#toolbar {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100px;
    text-align: center;
    color: #333;
    z-index: 9999;
}

#toolbar.left {
    left: 0;
}

#toolbar.right {
    right: 0;
}

#toolbar p {
    text-align: center;
    width: 90px;
    margin: 0 auto;
}

#toolbar a {
    color: #fff;
}

#toolbar a:hover {
    color: #111;
}

.tips {
    font-size: 18px;
    font-weight: bold;
}

.aBtn a {
    display: block;
    width: 90px;
    height: 40px;
    line-height: 40px;
    background: url(../image/tools.png) 0 0 no-repeat;
    color: #fff;
}

.aBtn a:hover, .aBtn a.focus {
    background: url(../image/tools.png) 0 -40px no-repeat;
    color: #111;
}

.close {
    padding: 5px 0;
}

.close a {
    display: block;
    width: 55px;
    height: 55px;
    background: url(../image/tools.png) 0 -160px no-repeat;
    margin: 0 auto;
}


.page {
    width: 90px;
    height: 40px;
}

.page a, .zoom a {
    height: 40px;
    line-height: 36px;
    font-weight: bold;
    width: 45px;
    display: inline-block;
    font-family: simsun;
    font-size: 24px;
}

.page a.pre {
    background: url(../image/tools.png) left 0 no-repeat;
}

.page a.pre:hover {
    background: url(../image/tools.png) left -40px no-repeat;
}

.page a.next {
    background: url(../image/tools.png) right 0 no-repeat;
}

.page a.next:hover {
    background: url(../image/tools.png) right -40px no-repeat;
}

.zoom a {
    background: url(../image/tools.png) left -80px no-repeat;
    font-size: 30px;
}

.zoom a:hover {
    background: url(../image/tools.png) right -80px no-repeat;
}

.switch a {
    background: url(../image/tools.png) left -120px no-repeat;
    display: block;
    line-height: 40px;
}

.switch a:hover {
    background: url(../image/tools.png) left -40px no-repeat;
}


ul.stuList {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}

ul.stuList li {
    width: 9.95%;
    float: left;
    display: inline;
}

ul.stuList li a {
    display: block;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    padding: 10px 3px;
    border: 1px solid #fff;
    margin: -1px -1px -1px 0;
    background-color: #efefef;
    text-align: center;
}

ul.stuList li a span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    vertical-align: middle;
    display: none;
    padding: 0px;
    background: rgba(0, 0, 0, 0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffcc0000, endColorstr=#ffcc0000);
}

ul.stuList li.show a {
    padding: 10px 3px;
}

ul.stuList li.show a span {
    display: block;
    line-height: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}

ul.stuList li a:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

ul.stuList li a.bgcGreen, span.bgcGreen {
    background-color: #00bdc7;
    color: #fff;
}

ul.stuList li a.bgcRed {
    background-color: #cb2e33;
    color: #fff;
}

ul.stuList li a.bgcOrange {
    background-color: rgb(255, 141, 0);
    color: #fff;
}

ul.stuList li a.none {
    cursor: no-drop;
}

.ts {
    margin-top: 10px;
    border: 1px dotted #ccc;
    padding: 10px;
    font-size: 15px;
    color: #888;
}

.ts span {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
}

.bGreen {
    background-color: #4fc334;
}

.bRed {
    background-color: #c93636;
}

.bOrange {
    background-color: rgb(255, 141, 0);
}

.bGray {
    background-color: #ccc;
}

.student-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #000;
    z-index: 100;
    display: none;
    top: 0;
    left: 0;
}

.student {
    width: 640px;
    border: 1px solid #ccc;
}

.student_s {
    visibility: hidden;
    position: fixed;
    z-index: 101;
    width: 240px;
    border: 10px solid #555;
    left: 0;
    bottom: 40%;
    background-color: #fff;
}

.student .close-student {
    line-height: .5;
    position: ;
    top: 8px;
    right: 11px;
    color: #aaa;
    text-shadow: 0 -1px 1px rbga(0, 0, 0, .6);
    font-weight: bold;
    cursor: pointer;
}

.title {
    background-color: #e4e4e4;
    border-bottom: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
    position: relative;
}

.title h2 {
    font-size: 18px;
    margin: 0 20px;
}

.title a.close-student {
    background: #999 url(../image/tools.png) right -160px no-repeat;
    height: 30px;
    width: 36px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}

.title a.close-student:hover {
    background-color: #ee2f2f;
}

.boxCon {
    padding: 20px;
    padding-bottom: 60px;
    min-height: 400px;
    position: relative;
}


.answer p {
    line-height: 30px;
    margin: 10px 0;
    font-size: 21px;
}

.boxCon h3 {
    font-size: 16px;
    color: #999;
    margin-bottom: 5px;
}

.boxCon h3 b {
    color: rgb(255, 141, 0);
}

dl.chart {
    padding: 10px 0;
    overflow: hidden;
    zoom: 1;
    clear: both;
    position: relative;
}

dl.chart a {
    cursor: default;
}

dl.chart a.hand {
    cursor: pointer;
}

dl.chart dt {
    width: 80px;
    font-size: 24px;
    float: left;
    display: inline;
    background-color: #e4e4e4;
    text-align: center;
    height: 30px;
    line-height: 30px;
}

dl.chart dd {
    float: left;
    display: block;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

dl.chart dd.jdb {
    width: 550px;
    background-color: #555;
    text-align: left;
}

dl.chart dd.num {
    width: 80px;
}

dl.chart dd i {
    display: block;
    color: #fff;
    background-color: #269bd7;
    height: 30px;
    line-height: 30px;
    transition: width 1s ease-in-out;
}

dl.chart dd b {
    position: absolute;
    left: 0;
    top: 0;
    width: 700px;
    text-align: center;
    line-height: 50px;
    color: #fff;
}

/*ul.chart li{ margin:10px 0; background:#555;}
ul.chart li strong{ display:inline-block; width:80px; height:30px; line-height:30px; text-align:center; background-color:#e4e4e4; color:#555;}
ul.chart li i{ width:100%; display:inline-block; text-align:center;}
ul.chart li span{ margin-left:10px; display:inline-block;}*/

.why {
    background: url(../image/why.png) no-repeat center center;
    height: 70px;
    cursor: pointer;
}

.why a {
    display: block;
    width: 70px;
    height: 70px;
}

input.but {
    border: none;
    width: 150px;
    height: 35px;
    font: normal 16px/35px "寰蒋闆呴粦";
    color: #fff;
    background: #0096d6;
    border-radius: 3px;
    text-align: center;
    outline: 0;
    cursor: pointer;
}

.b {
    display: block;
    margin: 0 auto;
    text-align: center;
}