/*�ض��岿��*/
.main, .mainLeft, .mainRight {
    height: 508px;
}

.closePC {
    top: 687px;
    LEFT: 1318px
}

.login {
    MARGIN: 350px 20px 10px;
}

.bottomlogo2 {
    top: 685px;
    left: 490px;
}

UL#keyboard {
    left: 440px;
}

#versionshow {
    POSITION: absolute;
    FONT-SIZE: 13px;
    TOP: 10px;
    RIGHT: 225px
}

/*��¼ҳ��*/
.setBg {
    background: url(../images/1360/loginBg.jpg) left top no-repeat;
    width: 1360px;
    height: 1050px;
}

/*��½Bg*/
.banner {
    margin-left: 215px;
}