.fixck {
    font-family: Arial, Verdana, sans-serif !important;
    line-height: normal !important;
}

.fixck ul {
    margin-left: 40px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
    list-style: disc outside none !important;
}

.fixck ol {
    margin-left: 40px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
    list-style: decimal outside none !important;
}

.realContent {
    clear: both; /*padding:15px 35px; padding:15px 0;*/
    border-bottom: solid 1px #d7d7d7;
}

/*ȥ����font-family:Arial, ����;*/
.realContent p, .realContent span, .realContent ul, .realContent li, .realContent em, .realContent font, .realContent pre, .realContent .answer_tj, .answer_tk strong, .answer_tk label, .answer_tk font, .answer_tk {
    font-size: inherit;
    line-height: 30px;
    color: #000;
}

.realContent li {
    display: block; /*border-bottom:1px solid #e4e4e4;*/
}

.realContent li.nobor {
    border: none;
    padding-bottom: 0;
    padding-top: 5px;
}

.realContent li span.title {
    font-weight: bold;
    text-indent: 30px;
    display: block;
}

.realContent li pre {
    padding-left: 30px !important;
}

.neir {
    padding: 5px 10px;
}

.neir p {
    font-size: 12pt;
}

/*20130401add*/
.neir * {
    line-height: 200% !important;
    font-size: inherit;
}

.bigger_150 {
    zoom: 1.5;
    font-family: "����";
}