
/*
Please do not arbitrarily modify this it! Product Development Division .2010.3.1
*/

*{ margin:0px; padding:0px; border:0px;}
html{overflow:hidden;}
body { height:740px; overflow: hidden;font-size:18px; padding:0; margin:0; color:#000; background:#afabaa url(../images/1280_768/defaultBg_x.gif) repeat-x; font-family: "微软雅黑";}
body.loginBg{background-color:#afabaa; background-image:none;}
a,a:hover,a:active,a:visited{ text-decoration:none; color:#000;}
ul,li{ list-style:none;}

/*清除float*/
.clearfix:after {content: ".";  display:block;  height:0;  clear: both;  visibility: hidden;}
.clearfix {display:inline-block;}
.clearfix {height:0; }
.clearfix {display: block; overflow:auto; clear:both; height:0;}

/*主框架布局(layout)及通用设置*/
.containers{ width:1280px; height:730px; /*overflow: hidden;*/ }
.header{ height:78px; position:relative;}
.main{ width:1186px; height:550px; margin:0 0 5px 50px; overflow:hidden;  position:relative;}
.nav{ height:45px; margin:0 0 5px 45px; }
.footer{ height:52px;}
.mainLeft{ width:380px; float:left; padding:10px;  _padding:10px 0px 10px 10px; }
.mainRight{ width:730px; float:left;padding:10px; _padding:10px 0px 10px 10px; margin-left:20px; }

.setBg{background:url(../images/1280_768/loginBg.jpg) no-repeat;width:1280px; height:740px;}/*登陆Bg*/
.setBg0{background:url(../images/public.jpg) no-repeat;}/*共用弹出层背景*/
.setBg1{background:url(../images/1280_768/defaultBg.jpg) no-repeat;}/*PC：教材资源、教师收藏、Bg*/
.setBg2{background:url(../images/1280_768/defaultBg_TV.jpg) no-repeat;}/*TV：教材资源、教师收藏、Bg*/
.setBg3{background:url(../images/1280_768/defaultBg2.jpg) no-repeat;}/*PC：U盘资源、Bg*/
.setBg4{background:url(../images/1280_768/defaultBg2_TV.jpg) no-repeat;}/*TV：U盘资源、Bg*/
.setBg5{background:url(../images/1280_768/defaultBg3.jpg) no-repeat;}/*PC：教师文件夹、Bg*/
.setBg6{background:url(../images/1280_768/defaultBg3_TV.jpg) no-repeat;}/*TV：教师文件夹、Bg*/
.setBg7{background:url(../images/1280_768/zhiboBgPC.jpg) no-repeat;}/*PC：直播*/
.setBg8{background:url(../images/1280_768/zhiboBgTV.jpg) no-repeat;}/*TV：直播*/
.setBg9{background:url(../images/loginBg2.jpg) no-repeat;}/*登陆Bg_永城市*/


/*欢迎*/
.welcome{ position:absolute; top:5px; left:888px; width:230px; height:40px; text-align:center;}
.welcome span{ font-size:22px; color:#F00; margin:0 5px;}

/*导航菜单*/
ul#menu{padding:5px 88px 5px;}
ul#menu li{ float:left; font-size:22px; background:url(../images/line.gif)  121px 10px no-repeat;}
ul#menu li.space{ width:140px; }
ul#menu li a{ width:114px; height:37px;line-height:37px; color:#000; display:block; text-align:center; margin:0 5px 0 3px ;}
ul#menu li a.sel,ul#menu li a.sel:hover{background:url(../images/menuBg.png) bottom no-repeat; color:#fff; text-decoration:none; font-weight:bold; }
ul#menu li a:hover,ul#menu li a:active{background:url(../images/menuBg.png) top no-repeat;}

.navSub span{ color:#C30;}

/*课程目录*/
.courseName{ text-align:center; font-size:20px; margin-bottom:15px;cursor:pointer;}
.courseName2{ text-align:center; font-size:20px; margin-bottom:15px;}

dl.course{}
dl.course dt{ color:#0d3da8; line-height:30px; padding-left:25px; background:url(../images/icon_course.gif) 0 4px no-repeat;width:320px;white-space:nowrap;	text-overflow:ellipsis; overflow: hidden;}
dl.course dd{line-height:30px;padding-left:25px;  background:url(../images/icon_course.gif) 0px -28px no-repeat; width:320px;}
dl.course dd li{width:350px;white-space:nowrap;	text-overflow:ellipsis; overflow: hidden;}
dl.course dd.end{background:url(../images/icon_course.gif) 0px -58px no-repeat;}
dl.course dd a{color:#000;}
dl.course dd a:active,dl.course dd a:hover,dl.course dd a.sel{color:#fff; background:#0d3da8;}


dl.course2{ padding:0px 0 0px 0px;}
dl.course2 dt{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;  color:#0d3da8; line-height:30px; padding-left:25px; background:url(../images/icon_course.gif) 0 4px no-repeat;}
dl.course2 .dtt{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;  color:#0d3da8; line-height:30px; padding-left:25px; background:url(../images/books.jpg) 0 4px no-repeat;}
dl.course2 dd{white-space:nowrap;overflow:hidden;text-overflow:ellipsis; line-height:30px;padding-left:38px;  background:url(../images/icon_course.gif) 0px -28px no-repeat; width:100px; float:left;}
dl.course2 dd.end{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;background:url(../images/icon_course.gif) 0px -58px no-repeat;}
dl.course2 dd a{color:#000;}
dl.course2 dd a:active,dl.course2 dd a:hover,dl.course2 dd a.sel{color:#fff; background:#0d3da8;}
/*资源列表*/
.courseTitle{text-align:center; font-size:20px; margin-bottom:15px; position:relative;}
.courseTitle .bgImg{background:url(../images/courseTitleBg.jpg) no-repeat; height:24px; width:623px; position:absolute; top:35px; left:-10px; _left:-140px;}
ul.resList h3{ color:#0d3da8; height:60px; line-height:60px; font-size:22px; padding-left:20px; background:url(../images/line.gif) bottom repeat-x; font-weight:normal;}
ul.resList h4{ white-space:nowrap;overflow:hidden;text-overflow:ellipsis; color:#0d3da8; height:45px; line-height:35px; font-size:22px; padding-left:22px; background:url(../images/line.gif) bottom repeat-x; font-weight:normal;} 
ul.resList li{ white-space:nowrap;font-size:20px; height:29px; border-bottom:1px dashed #aaa;  overflow:hidden;text-overflow:ellipsis}
ul.resList li img{ vertical-align:middle; margin:0 5px;}
ul.resList li a{color:#000; }
ul.resList li a:active,ul.resList li a:hover{color:#fff; background:#0d3da8;}

ul.rightMenu{ width:105px; float:left; margin-right:12px; padding-top:120px; height:422px; background:url(../images/rightMenuBg.jpg) bottom no-repeat;}
ul.rightMenu li{ background:url(../images/rightMenuBg.png) bottom no-repeat; width:105px; height:44px; line-height:40px; text-align:center;}
ul.rightMenu li.sel{ background:url(../images/rightMenuBg.png) top no-repeat;}
ul.resList li a:hover,ul.resList li a:active,ul.resList li a.sel{color:#fff; background:#0d3da8;}
/*页码/翻页*/
.pageLeft{ position:absolute; top:505px; left:40px; width:370px;}
.pageRight{ position:absolute; top:505px; left:0;}
.page{ text-align:center; margin-top:10px;}
.pageNow{ width:51px; height:24px; line-height:26px; background:url(../images/pageBg.gif) no-repeat;float:right; margin-right:10px; font-size:20px;}
.pageNext a{ width:72px;height:26px; background:url(../images/pageBg.gif) right top no-repeat; display:block; float:right; margin-right:24px;}
.pageNext a:hover,.pageNext a:active{background:url(../images/pageBg.gif) right bottom no-repeat; color:#FFF;}

/*登陆页面*/
.login{ height:250px; margin:320px 20px 10px; text-align:center;}
.login2{ height:130px; margin:10px 20px 10px; text-align:center;}
.idpw{ font-size:22px; margin-top:10px; position:relative;}
.idpw input{ width:202px; height:31px; padding:7px; margin-right:5px; vertical-align:middle; background:url(../images/inputBg.png) left; border:none; font-size:20px; font-family:"微软雅黑";}
.idpw button{ width:108px; height:45px; background:url(../images/inputBg.png) 222px 0; vertical-align:middle; font-size:22px;  font-family:"微软雅黑";}
.idpw button:hover{background:url(../images/inputBg.png) right; color:#FFF;}
ul#keyboard{ width:387px; height:32px; padding:6px 8px; background:url(../images/keyboardBg.png) top; position:absolute; top:52px; left:373px; }
ul#keyboard li{ font-size:22px; float:left; margin:0 1px; height:33px; width:33px; text-align:center; background:url(../images/keyboardBg.png) left bottom; cursor:pointer;}
ul#keyboard li:hover{background:url(../images/keyboardBg.png) right bottom; color:#FFF;}

ul#userName{ width:700px; margin:60px 0 0 30px;}
ul#userName li{ width:121px; height:53px; background:url(../images/userNameBg.png) bottom; float:left; margin:7px;cursor:pointer; font-size:24px; line-height:53px; color:#333;}
ul#userName li:hover{ background:url(../images/userNameBg.png) top; color:#FFF;}

ul#userName2{ width:1000px; margin:60px 0 0 5px;}
ul#userName2 li{ width:100px; height:40px; background:url(../images/userNameBg2.png) bottom; float:left; margin:4px;cursor:pointer; font-size:22px; line-height:40px; color:#333;}
ul#userName2 li:hover{ background:url(../images/userNameBg.png) top; color:#FFF;}

.banner{ height:324px; width:974px; overflow:hidden; margin:103px 0 0 24px;}

.navToolsoft{z-index: 10000;position: absolute;top: 624px;left: 663px;}

ul.indexTools{PADDING-BOTTOM: 0px;PADDING-RIGHT: 0px; HEIGHT: 35px; PADDING-TOP: 7px }
ul.indexTools li{ float:left; font-size:18px; }
ul.indexTools li.space{ width:140px; }
ul.indexTools li a{ width:110px; height:33px;line-height:33px; color:#000; display:block; text-align:center; margin:5px 2px;background:url(../images/navToolBg.png) top no-repeat; }
ul.indexTools li a.sel,ul.indexTools li a.sel:hover{background:url(../images/navToolBg.png) bottom no-repeat; color:#fff; text-decoration:none; font-weight:bold;}
ul.indexTools li a:hover{background:url(../images/navToolBg.png) bottom no-repeat; color:#fff; text-decoration:none; font-weight:bold;}

#error{ position:absolute; top:52px; left:800px; border:1px solid #ffd0a8; text-align:left; height:20px; padding:10px 5px 10px 45px; font-size:16px; background:#ffe url(../images/error.png) 10px center no-repeat;}
#error span{ color:#F00;}

/*U盘资源*/
.Upan{ width:954px; height:515px; overflow:auto; margin:22px 20px 3px;}


/*教师文件夹*/
ul.folderList{ zoom:1;  overflow:auto; margin:25px 25px 5px; }
ul.folderList li{ width:100px; height:123px; line-height:20px;overflow:hidden; margin:9px; float:left; text-align:center; color:#333;  }
ul.folderList li p{ width:95px; height:65px; padding-top:15px; line-height:95px;border:1px solid #fff; margin-bottom:5px; cursor:pointer;}
ul.folderList li p:hover,ul.folderList li a:active{border:1px solid #0d3da8;background:#0d3da8;}
ul.folderList li p.sel{ background:url(../images/select.gif) no-repeat;border:1px solid #ccc;}


/*功能按钮*/
.closePC{ position:absolute; left:1230px; top:692px;}

.close{ WIDTH: 42px; BACKGROUND: url(../images/close.png) 50% top; HEIGHT: 42px; CURSOR: pointer;z-index:10000;}
.close:hover,.close:avtive{background:url(../images/close.png) bottom;}

/*floatDiv弹出层*/
/* #mask{ background:#000; filter:alpha(opacity=60); position:absolute; top:0; left:0; width:100%; height:100%; z-index:99;} */
.floatDiv{ width:706px; position:absolute; left:0px; top:0px;margin:100px 0 0 300px; display: none;}
.divTop{ min-height:240px; background:url(../images/1280_768/floatDiv.png) no-repeat; padding:12px 22px 0;}
.divBottom{ height:30px; background:url(../images/1280_768/floatDiv.png) bottom no-repeat;}
.divTitle{ font-size:22px; color:#FFF; padding-top:5px; text-indent:1em;}
.divClose{ width:50px; height:35px; background:url(../images/divClose.png) right; cursor:pointer; float:right;}
.divClose:hover,.divClose:active{background:url(../images/divClose.png) left;}

.divContent{margin:10px; text-align:center;}
.divContent h3{ border-bottom:2px groove #FFF; height:40px; line-height:42px; margin-bottom:10px; font-size:22px; color:#ba0505; font-weight:normal;}
.divContent h4{ border-bottom:2px groove #FFF; height:52px; margin-bottom:10px; color:#333; font-weight:normal; text-align:left;}
ul.divButton h4{ height:40px; line-height:40px; border-bottom:1px dashed #888; width:80%;}
ul.divButton li{ float:left; font-size:22px;}
UL.divButton LI A {
	LINE-HEIGHT: 45px; MARGIN: 5px; WIDTH: 123px; DISPLAY: block; BACKGROUND: url(../images/divButton.png) 50% top; HEIGHT: 45px; COLOR: #053b75
}
ul.divButton li a:hover,ul.divButton li a:active{color:#fff; background:url(../images/divButton.png) bottom; }
ul.divButton li.space1{ margin-left:138px;}
UL.divButton LI.space2 {
	MARGIN-LEFT: 170px
}
ul.divButton li.space3{ margin-left:120px;}
ul.divButton li.spaceTV{ margin-left:85px;}
ul.divButton li.spaceNetTool{ margin-left:180px;}/**网络工具*/
UL.divButton LI.for2Btn {
	MARGIN-LEFT: 170px
}
UL.divButton LI.for1Btn {
	MARGIN-LEFT: 220px
}
ul.classSet{height:36px;}
ul.classSet li{ float:left; margin:2px; }
.tipsInfo{ text-align:center; color:#555; border:1px solid #ffd0a8; background:#ffe;}
.divContent table{ border-bottom:1px dashed #aaa; margin-bottom:5px;}
.divContent td{ text-align:left; vertical-align:top;}
ul.bbSet{}
ul.bbSet li{float:left; margin:2px; min-width:81px; max-width:220px; white-space:nowrap;	text-overflow:ellipsis; overflow: hidden;}

/*播放器功能按钮*/
.player{ width:500px; background:#fff; border:1px solid #CCC; margin:0 0 0 0;}
.btn{ height:43px; line-height:43px; text-indent:1em; background:url(../images/btn.png) bottom repeat-x; border-top: 2px solid #ddd;}
.btn span{ float:right; margin-right:5px; width:106px; height:33px; background:url(../images/btn.png) 0 -66px no-repeat;}
.btnA,.btnB,.btnC,.btnAH,.btnBH,.btnCH{ cursor:pointer; width:53px; height:33px; float:left;}
.btnA{ background:url(../images/btn.png) 0 -33px no-repeat;}
.btnAH{background:url(../images/btn.png) 0 0 no-repeat;}
.btnB{background:url(../images/btn.png) -63px -33px no-repeat;}
.btnBH{background:url(../images/btn.png) -63px 0 no-repeat;}
.btnC{background:url(../images/btn.png) -126px -33px no-repeat;}
.btnCH{background:url(../images/btn.png) -126px 0 no-repeat;}

.btn .pageNext a{width:72px;height:26px; text-indent:-3px; text-align:center; margin-top:6px; line-height:25px;}

.btn p{float:right;margin-right:5px;}
.playClose{ width:50px; height:35px; background:url(../images/close2.png) right no-repeat;cursor:pointer;}
.playCloseH{ width:50px; height:35px; background:url(../images/close2.png) left no-repeat;cursor:pointer;}

ul.mp3List{ margin:10px;}
ul.mp3List li{ color:#333; border-bottom:1px solid #e2e6ec; padding:0 3px; height:33px; line-height:33px; cursor: pointer;font-size:16px;}
ul.mp3List li span{ float:right; color:#06C; font-size:16px;}
ul.mp3List li:hover,ul.mp3List li.sel{ background:#769CBF;}
ul.mp3List li.page { text-align:center; border:none;}
ul.mp3List li.page a{ margin:0 5px; color:#555;}
ul.mp3List li.page:hover,ul.mp3List{ background:none;}


 

.lrc{ float:right;  background:#efefef; width:240px; height:350px; margin-left:10px; padding:0 10px; text-align:center; font-size:16px; overflow:hidden;}
.lrc p{ padding:3px 0;}
.lrc p.sel{ color:#F00; font-weight:bold;}

/*IP设置*/
dl.ipSet input{ border:1px solid #CCC; height:18px; padding:3px; width:200px; font-size:20px; color:#333;}
dl.ipSet dt{ height:30px; width:200px; text-align:right; float:left;}
dl.ipSet dd{ height:30px; width:300px; text-align:left; float:left;}


/*IP设置*/
dl.ipSet2 input{ border:1px solid #CCC; height:18px; padding:3px; width:200px; font-size:20px; color:#333;}
dl.ipSet2 dt{ height:30px; width:150px; text-align:right; float:left;}
dl.ipSet2 dd{ height:30px; width:400px; text-align:left; float:left;}
/*弹出层翻页居中追加定义 marR2适合2个按钮，marR3适合3个按钮*/
.marR2{ margin-right:284px;}
.marR3{ margin-right:142px;}
/*浮动层*/
#maskAll {
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 0;
	background: #000;
	opacity: 0.5;
	filter: alpha(opacity =       50);
}
#maskAllall{
	width: 100%;
	height: 100%;
	position: absolute;
	left:0px;
	top: 0px;
	z-index: 0;
	background: #fff;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

/*课程直播*/
.zhibo{ border-collapse:collapse; font-size:20px; margin:15px auto 0; width:900px; position:relative; }
.zhibo td{ padding:4px 3px; border-bottom:1px dashed #aaa; text-align:left;}
.zhibo td.title{ text-align:left; width:350px; text-indent:1em;}
.zhibo tr.fixed{ color:#0d3da8;  height:33px; font-size:24px; background:url(../images/line.gif) bottom repeat-x;}
.zhibo tr.fixed td{ border:none; height:50px;}
.zhibo .pagea{ position:fixed; top:585px; left:670px; width:300px;}
.zhibo .pagea2{ position:fixed; top:635px; left:670px; width:300px;}
.zhibo tr:hover{ background:#efefef; cursor:pointer; display:block;}
.zhibo tr.fixed:hover{  background:url(../images/line.gif) bottom repeat-x; cursor:default;}

.zhiboInfo{ margin:15px auto 0; width:900px; position:relative;}
.zhiboInfo img{ float:left; border:4px solid #ccc; width:500px; height:375px; margin:0 10px 0 0;}
.zhiboInfo p{ margin:7px 0; font-size:20px;}
.zhiboInfo p span{color:#0d3da8; font-size:24px;}
.zhiboInfo p.title{border-bottom:1px solid #999; margin-bottom:15px; padding-bottom:10px; font-size:24px; text-align:center; }

.zhiboInfo p.butPos{position:absolute; left:730px; top:480px; width:170px;}
.zhiboInfo p.butPos a{width:72px;height:26px; background:url(../images/pageBg.gif) right top no-repeat; display:block; margin:0 3px;  text-align:center; float:right;}
.zhiboInfo p.butPos a:hover{background:url(../images/pageBg.gif) right bottom no-repeat; color:#FFF;}
.zhiboInfo p.butPos a:active{background:url(../images/pageBg.gif) right bottom no-repeat; color:#FFF;}
.zhibo td a:active{  color:#fff; background:#0d3da8;}
.zhibo .test a:active{  color:#fff; background:#6B85C2;}
/*底部功能*/
.bottombg{ background-image:url(../images/1280_768/bbtong_02.gif); background-position:center;margin:0px; border-spacing:0px; border:none;}
.bottomleft{ background-image:url(../images/1280_768/bbtong_06.gif);background-position:left; background-repeat:no-repeat; width:120px;}
.bottomright{ background-image:url(../images/1280_768/bbtong_08.gif);background-position:center; background-repeat:no-repeat; width:120px;}
.bottomcenter{ background-image:url(../images/1280_768/bbtong_07.gif);background-position:center; background-repeat: repeat-x;}

/*工具栏导航*/
ul#navTool{height:35px;margin-top:3px;}
ul#navTool li{ float:left; font-size:18px; }
ul#navTool li a{ width:96px; height:33px;line-height:33px; color:#000; display:block; text-align:center; margin:0;background:url(../images/navToolBg.png) top no-repeat; }
ul#navTool li a.sel,ul#navTool li a.sel:hover{background:url(../images/navToolBg.png) bottom no-repeat; color:#fff; text-decoration:none; font-weight:bold;}
ul#navTool li a:hover,ul#navTool li a:active{background:url(../images/navToolBg.png) bottom no-repeat; color:#fff; text-decoration:none; font-weight:bold;}



/*校本资源*/
ul.xiaobenResList{ zoom:1;  overflow:auto; margin:25px 5px 5px;border:0px solid #ccc; }
ul.xiaobenResList li{ width:150px; height:152px; line-height:20px;overflow:hidden; margin:0px 4px 2px 5px;float:left; text-align:center; color:#333;  }
ul.xiaobenResList li p{ width:150px; height:105px;  line-height:95px;border:1px solid #fff; margin-bottom:5px; cursor:pointer;}
ul.xiaobenResList li p img{ width:150px; height:105px;}
ul.xiaobenResList li p:hover,ul.xiaobenResList li a:active{border:1px solid #0d3da8;background:#0d3da8;color:#fff;}
ul.xiaobenResList li p.sel{ background:url(../images/select.gif) no-repeat;border:1px solid #ccc;}
.softkeyborardfloat{z-index: 10000; position: absolute; top: 624px; left: 568px;}
#versionshow {
	POSITION: absolute; FONT-SIZE: 13px; TOP: 10px; LEFT: 1050px}
#waithtml2 {
	POSITION: absolute; FONT-SIZE: 11px; TOP: 490px; FONT-WEIGHT: bold; LEFT: 500px}


#loginstyle a{ text-decoration:underline; color:#000;}
.bottomlogo2{position:absolute; top:680px; left:440px;width:482px;height: 100px; }

#waithtml {
	POSITION: absolute;
	FONT-SIZE: 14px;
	TOP: 390px;
	FONT-WEIGHT: bold;
	LEFT: 800px
}

.pr{ position:relative;}
.areaCon{ max-height:230px; overflow:auto; margin-bottom:10px; border-bottom:1px dotted #ccc;}
.areaCon td{ width:160px;}
.areaCon table{ border:none;}

ul.aBtn LI A {
	LINE-HEIGHT: 40px; MARGIN: 5px; WIDTH: 123px; DISPLAY: block; BACKGROUND: url(../images/divButton2.png) 50% top; HEIGHT: 40px; COLOR: #333
}
ul.aBtn LI A:hover {
	BACKGROUND: url(../images/divButton2.png) 50% bottom; COLOR: #fff
}
ul.aBtn LI A:active {
	BACKGROUND: url(../images/divButton2.png) 50% bottom; COLOR: #fff
}